/* simple selector /element selector/tag selector*/
p{
 color: aqua;    
}
/* class selector */
.classselector{
    color:green;
}
/* Id selector */
#idselector{
    color :rgb(212, 33, 51);
}
/* Pseudo class selector  */
.Pseudo-classselector:hover{
    color: red;
    background-color:black;
    
}
/* Multiple class selector */
h1,h3,h2{
    color:orange;
}
/* Universal selector is used to style the Whole page  */
/*
*{
 color:brown;
}
 */
 /* Attribute selector */
 a[target] {
    color: yellow;
  }
 /* Nested selector */
 div h6 {
    color: pink;
  }
  
